.dragSortList {
  overflow: auto;
  position: relative;
}

.dragSortList.-isExpanded {
  padding-top: 25px;
}


.dragSortList.-isExpanded.-isDraggingOver:before {
  content: '🡢';
  position: absolute;
  line-height: 25px;
  top: 0;
  left: 0;
  z-index: 2;
}

.dragSortList.horizontal {
  display: inline-flex;
}

.dragSortItem {
  position: relative;
}

.dragSortItem[draggable], .dragSortItem [draggable] {
  cursor: move;
  cursor: hand;
  cursor: -webkit-grab;
  cursor: grab;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.dragSortItem.-isDragged {
  display: none;
}

.dragSortItem.-placeholderAbove {
  /*margin-top: 25px;*/
  padding-top: 25px;
}

.dragSortItem.-placeholderBelow {
  /*margin-bottom: 25px;*/
  padding-bottom: 25px;
}

.dragSortItem.-placeholderLeft {
  /*margin-top: 25px;*/
  padding-left: 25px;
}

.dragSortItem.-placeholderRight {
  /*margin-bottom: 25px;*/
  padding-right: 25px;
}

.dragSortItem.-placeholderAbove:before,
.dragSortItem.-placeholderBelow:before {
  content: '🡢';
  position: absolute;
  line-height: 25px;
  left: 0;
}

.dragSortItem.-placeholderLeft:before,
.dragSortItem.-placeholderRight:before {
  content: '🡢';
  position: absolute;
  line-height: 30px;
  top: 0;
}

.dragSortItem.-placeholderAbove:before {
  /*bottom: 100%;*/
  top: 0;
}

.dragSortItem.-placeholderBelow:before {
  /*top: 100%;*/
  bottom: 0;
}

.dragSortItem.-placeholderLeft:before {
  /*bottom: 100%;*/
  left: 9px;
}

.dragSortItem.-placeholderRight:before {
  /*top: 100%;*/
  right:9px;
}